@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;900&display=swap");

:root {
  --1: #f16718;
  --2: #ff9b62;
  --3: #162542;
  --4: #7b8bad;
  --5: #e8eff2;
  --6: ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
}

img {
  max-width: 100%;
}
